/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html .cd-horizontal-timeline, body .cd-horizontal-timeline,  .cd-horizontal-timeline div,  .cd-horizontal-timeline span,
 .cd-horizontal-timeline h1,  .cd-horizontal-timeline h2,  .cd-horizontal-timeline h3,  .cd-horizontal-timeline h4,  .cd-horizontal-timeline h5,  .cd-horizontal-timeline h6,  .cd-horizontal-timeline p, 
 .cd-horizontal-timeline a,  .cd-horizontal-timeline em, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body .cd-horizontal-timeline{
	line-height: 1;
}
.cd-horizontal-timeline ol, .cd-horizontal-timeline ul {
	list-style: none;
}
