
@-webkit-keyframes fadeFromLeft {
    from {
        -webkit-transform: translate(-100%, 0px);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeFromLeft {
    from {
        -moz-transform: translate(-100%, 0px);
        opacity: 0
    }

    to {
        -moz-transform: translate(0, 0);
        opacity: 1
    }
}

@keyframes fadeFromLeft {
    from {
        -webkit-transform: translate(-100%, 0px);
        -moz-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
        -o-transform: translate(-100%, 0px);
        transform: translate(-100%, 0px);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeFromRight {
    from {
        -webkit-transform: translate(100%, 0px);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0, 0);
        opacity: 1
    }
}

@-moz-keyframes fadeFromRight {
    from {
        -moz-transform: translate(100%, 0px);
        opacity: 0
    }

    to {
        -moz-transform: translate(0, 0);
        opacity: 1
    }
}

@keyframes fadeFromRight {
    from {
        -webkit-transform: translate(100%, 0px);
        -moz-transform: translate(100%, 0px);
        -ms-transform: translate(100%, 0px);
        -o-transform: translate(100%, 0px);
        transform: translate(100%, 0px);
        opacity: 0
    }

    to {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeToLeft {
    from {
        -webkit-transform: translate(0, 0);
        opacity: 1
    }

    to {
        -webkit-transform: translate(-100%, 0px);
        opacity: 0
    }
}

@-moz-keyframes fadeToLeft {
    from {
        -moz-transform: translate(0, 0);
        opacity: 1
    }

    to {
        -moz-transform: translate(-100%, 0px);
        opacity: 0
    }
}

@keyframes fadeToLeft {
    from {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }

    to {
        -webkit-transform: translate(-100%, 0px);
        -moz-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
        -o-transform: translate(-100%, 0px);
        transform: translate(-100%, 0px);
        opacity: 0
    }
}

@-webkit-keyframes fadeToRight {
    from {
        -webkit-transform: translate(0, 0);
        opacity: 1
    }

    to {
        -webkit-transform: translate(100%, 0px);
        opacity: 0
    }
}

@-moz-keyframes fadeToRight {
    from {
        -moz-transform: translate(0, 0);
        opacity: 1
    }

    to {
        -moz-transform: translate(100%, 0px);
        opacity: 0
    }
}

@keyframes fadeToRight {
    from {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }

    to {
        -webkit-transform: translate(100%, 0px);
        -moz-transform: translate(100%, 0px);
        -ms-transform: translate(100%, 0px);
        -o-transform: translate(100%, 0px);
        transform: translate(100%, 0px);
        opacity: 0
    }
}

@-webkit-keyframes changeScreen {
    0% {
        background-image: url(../images/screen-gcash-270.png)
    }

    50% {
        background-image: url(../images/screen-gcash-270.png)
    }
}

@-moz-keyframes changeScreen {
    0% {
        background-image: url(../images/screen-gcash-270.png)
    }

    50% {
        background-image: url(../images/screen-gcash-270.png)
    }
}

@keyframes changeScreen {
    0% {
        background-image: url(../images/screen-gcash-270.png)
    }

    50% {
        background-image: url(../images/screen-gcash-270.png)
    }
}

body {
    font-family: 'CircularStd', sans-serif;
}

body, html {
    height: 100%;
}

.header{
    color: #f8f8f8;
    background: url(../images/main-header.jpg) center/cover no-repeat;
    height: 100%;
    text-align: center;
}

.header::before {
    background: rgba(0,0,0,0.5);
    content: '';
    height: 100%;
    left: 0;
    opacity: .55;
    position: absolute;
    top: 0;
    width: 100%;
}

.header .container{
    position: relative;
}

.header .logo #logo{
    background: url(../images/logo.png) no-repeat;
    background-position: 0% 50%; 
}

.benefit{
    height: 100%;
    overflow: hidden;
    position: relative;
}

.iphone{
    background-attachment: fixed;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#benefitOne .iphone{
    background: url(../images/screen-platform-270.png) center center no-repeat fixed;
    -webkit-animation: changeScreen 10s;
    -moz-animation: changeScreen 10s;
    animation: changeScreen 10s;
}

#benefitTwo .iphone{
    background: url(../images/screen-convenience-270.png) center center no-repeat fixed;
}

#benefitTwo {
    background: url(../images/section-bg.jpg) center/cover no-repeat ;
}

#benefitTwo::before {
    background: rgba(0,0,0, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.benefit .heading, 
.benefit .description,
#services .desktop p,
#services .desktop ol {
    display: none;
}

.benefit.fadeIn .heading{
	-webkit-animation: fadeFromLeft 0.75s;
	-moz-animation: fadeFromLeft 0.75s;
	animation: fadeFromLeft 0.75s;
}

.benefit.fadeIn .description{
	-webkit-animation: fadeFromRight 0.75s;
	-moz-animation: fadeFromRight 0.75s;
	animation: fadeFromRight 0.75s;
}

.benefit.fadeOut .heading{
	-webkit-animation: fadeToLeft 0.75s;
	-moz-animation: fadeToLeft 0.75s;
	animation: fadeToLeft 0.75s;
}

.benefit.fadeOut .description{
	-webkit-animation: fadeToRight 0.75s;
	-moz-animation: fadeToRight 0.75s;
	animation: fadeToRight 0.75s;
}

#benefitOne .heading,
#benefitOne .description {
	color: #000000;
}

#benefitTwo .heading,
#benefitTwo .description {
	color: #ffffff;
	position: relative;
}

.description p{
    font-size: 20px;
}

.number {
	border: 1px solid #111244;
	border-radius: 3px;
	color: #111244;
	font-size: 48px;
	height: 70px;
	text-align: center;
	width: 70px; 
}

#benefitTwo .number {
	color: #ffffff;
	border: 1px solid #ffffff;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #fff !important;
    position: absolute !important;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    border: 1px solid #fff !important;
    background: rgba(0, 0, 0, 0) !important;
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span,
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 10px !important;
    height: 10px !important;
    margin: -2px 0 0 -2px !important;
}

#fp-nav ul li a.active span.blue-dots {
    background: #111244 !important;
    border: 1px solid #111244 !important;
    position: absolute !important;

}

#fp-nav ul li a span.blue-dots{
    border: 1px solid #111244 !important;
    background: rgba(0, 0, 0, 0) !important;
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;

}

.h-10{
    height: 10%;
}

.h-40{
    height: 40%;
}

.h-60{
    height: 60%;
}

.w-70{
    width: 70%;
}

img.btn{
    width: 90px;
}

.circle{
    border: 1px solid #48aee0;
    background-color: #48aee0;
    height: 64px;
    width: 64px;
    position: absolute;
    z-index: 0;
}

.icon{
    width: 100px;
    height: 100px;
    position: relative;
}

#services{
    background-color: #2f2f2f;
}

#download{
    background-color: #f5fffa;
}

#download div .col-lg-12{
    height: 50vh;
}


#services h2{
    color: #fff;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 72px;
    letter-spacing: 18px;
}

#services h4,
#services p,
#services ol{
    color: #fff;
    position: relative;
}

#services h4{
    font-size: 36px;
}

#services p{
    font-weight: 100;
}

#service-1 .box{
    background: url(../images/send-money.jpg) center/cover no-repeat;
}

#service-2 .box{
    background: url(../images/pay-bills.jpg) 70%/cover no-repeat;
}

#service-3 .box{
    background: url(../images/book-movies.jpg) 60%/cover no-repeat;
}

.box.desktop{
    height: 130%;
    clip-path: polygon(
      0% 14%,
      100% 14%,
      100% 86%,
      0% 86%
    );
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    animation: clipOut 4s;
    transition: clip-path 1s ease-in, filter 0.5s ease-in;
}

.box.desktop:hover{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

.box::before {
    background: rgba(47,47,47,0.8);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.box.desktop:hover::before{
    background: rgba(0,0,0,0);
    height: 100%;
}

.box.desktop:hover h4{
    font-size: 48px !important;
}

.box.desktop:hover h4{
        border-bottom: 2px solid #266BDD;

}

#services ol {
    list-style: none;
    counter-reset: custom-counter;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    color: #fff;
}

#services ol li{
    counter-increment:  custom-counter;
    display: flex;
    width: 60%;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

#services ol li::before{
    color: antiquewhite;
    content: "0" counter(custom-counter);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 1rem;
    line-height: 1;
}

.text-bg{
    font-size: 120px;
    color: #ccf2ff;
    font-style: italic;
}

.mt-n6{
    margin-top: -5.5rem !important;
}

.text-fg{
    color: #3a3a3a;
}

@media (max-width: 992px) { 

    .header .logo #logo{
       background-position: center;
       background-size: 50%;
    }

    .header h1{
        font-weight: 200;
    }

    .iphone{
        background-attachment: scroll !important;
        position: relative;
        background-size: 78% !important;
        height: 80vh;
        width: auto;
    }

    .benefit .heading, 
    .benefit .description{
        display: block;
    }

    .heading h1{
        font-size: 32px;
    }

    .description p{
        font-size: 16px;
        font-weight: 100;
    }

    #services h2{
        color: #fff;
        font-weight: 400;
        text-transform: lowercase;
        font-size: 36px;
        letter-spacing: normal;
    }

    #benefitOne .iphone{
        background: url(../images/screen-platform-270.png) center center no-repeat fixed;
        -webkit-animation: changeScreen 10s;
        -moz-animation: changeScreen 10s;
        animation: changeScreen 10s;
    }

    #benefitTwo .iphone{
        background: url(../images/screen-convenience-270.png) center center no-repeat fixed;
    }

    .text-bg{
        font-size: 24px;
    }

    .text-fg{
        font-size: 18px;
    }

    #download p{
        font-size: 14px;
    }

    .h-60{
        height: 100%;
    }

    .box.mobile{
        height: 100%;
    }

    #services .mobile ol li{
        width: 80%;
    }

}

@media (min-width: 768px) and (max-width: 992px){
    .iphone{
        background-attachment: scroll !important;
        position: relative;
        background-size: 50% !important;
        height: 68vh;
        width: auto;
    }

    .description p{
        font-size: 22px;
    }

    #services .mobile ol li{
        width: 60%;
    }

    #service-3 .mobile ol li{
        width: 100%;
    }

    .text-bg{
        font-size: 64px;
    }

    .text-fg{
        font-size: 24px;
    }

    #download p{
        font-size: 18px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .iphone{
        background-size: 35% !important;
        height: 100vh;
        width: auto;
    }
}

@media (max-width: 576px){
    .iphone{
        background-size: 70% !important;
        height: 80vh;
        width: auto;
    }
}

}
